reference-architecture/tags/javg-1.4/poc/schema-versioning/schema-v1.1/src/main/resources/wsdl/ContactService_1.1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--  Copyright 2009 Västa Götalandsregionen

  This library is free software; you can redistribute it and/or modify
  it under the terms of version 2.1 of the GNU Lesser General Public
  License as published by the Free Software Foundation.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the
  Free Software Foundation, Inc., 59 Temple Place, Suite 330,
  Boston, MA 02111-1307  USA
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:ContactService.wsdl.versioning.poc.javg.vgr.se:v1"
	xmlns:ct="urn:Contact.schema.versioning.poc.javg.vgr.se:v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ContactService"
	targetNamespace="urn:ContactService.wsdl.versioning.poc.javg.vgr.se:v1">
  <wsdl:documentation>Version: 1.1</wsdl:documentation>
  <wsdl:types>
  	<xsd:schema targetNamespace="urn:ContactService.wsdl.versioning.poc.javg.vgr.se:v1">
  	  <xsd:import namespace="urn:Contact.schema.versioning.poc.javg.vgr.se:v1"
  	  	schemaLocation="Contact_1.1.xsd"/>
      <xsd:element name="GetContact" type="ct:ContactIdType"/>
      <xsd:element name="GetContactResponse" type="ct:ContactType"/>
      <xsd:element name="SaveContact" type="ct:ContactType"/>
      <xsd:element name="CreateContact" type="ct:ContactType"/>
      <xsd:element name="CreateContactResponse" type="ct:ContactType"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetContactRequest">
    <wsdl:part element="tns:GetContact" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetContactResponse">
    <wsdl:part element="tns:GetContactResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SaveContactRequest">
  	<wsdl:part element="tns:SaveContact" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateContactRequest">
  	<wsdl:part element="tns:CreateContact" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateContactResponse">
  	<wsdl:part element="tns:CreateContactResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ContactService">
    <wsdl:operation name="GetContact">
      <wsdl:input message="tns:GetContactRequest"/>
      <wsdl:output message="tns:GetContactResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SaveContact">
    	<wsdl:input message="tns:SaveContactRequest"/>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
    	<wsdl:input message="tns:CreateContactRequest"/>
    	<wsdl:output message="tns:CreateContactResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactServiceSOAP" type="tns:ContactService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="GetContact">
  		<soap:operation
  			soapAction="" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="SaveContact">
  		<soap:operation
  			soapAction="" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  	</wsdl:operation>
  	<wsdl:operation name="CreateContact">
  		<soap:operation
  			soapAction="" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
<!--
  <wsdl:service name="ContactService">
    <wsdl:port binding="tns:ContactServiceSOAP" name="ContactServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
-->
</wsdl:definitions>
