reference-architecture/tags/1.1/src/ref-systems/addressbook/address/composites/schema/src/main/wsdl/AddressServices_1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  Copyright 2009 Västa Götalandsregionen

  This library is free software; you can redistribute it and/or modify
  it under the terms of version 2.1 of the GNU Lesser General Public
  License as published by the Free Software Foundation.

  This library is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public
  License along with this library; if not, write to the
  Free Software Foundation, Inc., 59 Temple Place, Suite 330,
  Boston, MA 02111-1307  USA
 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:AddressServices.wsdl.core.vgr.se:v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ae="urn:AddressEntry.schema.core.vgr.se:v1"
	xmlns:cg="urn:Category.schema.core.vgr.se:v1"
	name="AddressServices_1.0"
	targetNamespace="urn:AddressServices.wsdl.core.vgr.se:v1">
	<wsdl:documentation>Version: 1.0</wsdl:documentation>
	<wsdl:types>
		<xsd:schema
			targetNamespace="urn:AddressServices.wsdl.core.vgr.se:v1">
			<xsd:import schemaLocation="AddressEntry_1.0.xsd"
				namespace="urn:AddressEntry.schema.core.vgr.se:v1" />
			<xsd:import schemaLocation="Category_1.0.xsd"
				namespace="urn:Category.schema.core.vgr.se:v1" />
			<!-- There can't be more than one zero-argument operation bound to the same service port. Use dummy-argument to circumvent the restriction -->
			<xsd:element name="GetAddressEntriesDummyRequest"
				type="xsd:string" nillable="true" />
			<xsd:element name="GetAddressEntriesResponse"
				type="ae:AddressEntryListType" />
			<xsd:element name="GetAddressEntryRequest" type="xsd:long" />
			<xsd:element name="GetAddressEntryResponse"
				type="ae:AddressEntryType" />
			<xsd:element name="SaveAddressEntryRequest"
				type="ae:AddressEntryType" />
			<!-- There can't be more than one zero-argument operation bound to the same service port. Use dummy-argument to circumvent the restriction -->
			<xsd:element name="GetCategoriesDummyRequest"
				type="xsd:string" nillable="true" />
			<xsd:element name="GetCategoriesResponse"
				type="cg:CategoryListType" />
			<xsd:element name="SaveCategoryRequest"
				type="cg:CategoryType" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetAddressEntriesRequest">
		<wsdl:part name="dummy"
			element="tns:GetAddressEntriesDummyRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAddressEntriesResponse">
		<wsdl:part element="tns:GetAddressEntriesResponse" name="body" />
	</wsdl:message>

	<wsdl:message name="GetAddressEntryRequest">
		<wsdl:part element="tns:GetAddressEntryRequest"
			name="dummybody" />
	</wsdl:message>
	<wsdl:message name="GetAddressEntryResponse">
		<wsdl:part element="tns:GetAddressEntryResponse" name="body" />
	</wsdl:message>

	<wsdl:message name="SaveAddressEntryRequest">
		<wsdl:part element="tns:SaveAddressEntryRequest" name="body" />
	</wsdl:message>

	<wsdl:message name="GetCategoriesDummyRequest">
		<wsdl:part name="dummybody"
			element="tns:GetCategoriesDummyRequest" />
	</wsdl:message>
	<wsdl:message name="GetCategoriesResponse">
		<wsdl:part element="tns:GetCategoriesResponse" name="body" />
	</wsdl:message>
	<wsdl:message name="SaveCategoryRequest">
		<wsdl:part element="tns:SaveCategoryRequest" name="body" />
	</wsdl:message>

	<wsdl:portType name="AddressService">
		<wsdl:operation name="GetAddressEntries">
			<wsdl:input message="tns:GetAddressEntriesRequest" />
			<wsdl:output message="tns:GetAddressEntriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetAddressEntry">
			<wsdl:input message="tns:GetAddressEntryRequest" />
			<wsdl:output message="tns:GetAddressEntryResponse" />
		</wsdl:operation>
		<wsdl:operation name="SaveAddressEntry">
			<wsdl:input message="tns:SaveAddressEntryRequest" />
		</wsdl:operation>
		<wsdl:operation name="GetCategories">
			<wsdl:input message="tns:GetCategoriesDummyRequest" />
			<wsdl:output message="tns:GetCategoriesResponse" />
		</wsdl:operation>
		<wsdl:operation name="SaveCategory">
			<wsdl:input message="tns:SaveCategoryRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AddressServiceSoapHttp"
		type="tns:AddressService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetAddressEntries">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAddressEntry">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveAddressEntry">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>

		<wsdl:operation name="GetCategories">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SaveCategory">
			<soap:operation />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
